@import url( ' https://fonts.cdnfonts.com/css/barbie ' );
@import url('https://fonts.googleapis.com/css2?family=Bellota&display=swap');



.button-container {
  width: 100%;
  display: flex;
  margin-top: 20px;  
}  

.button {
  margin: 5px;
  width: 150px;
  height: 50px;
  margin-left: 80px;
  border-radius: 15px; 
  border: white solid;
  background-color:#ED5C9B;
  color: white;
  font-size: 20px;
  font-weight:bolder;
  font-family: 'Bellota', cursive;
}

.button-menu{
  width: 98%;
  background-color: #ED5C9B;
  border-radius: 15px;
  color: white;
  font-family:'Bellota', cursive;
  border: none;

  
}